mixin menuLink(href='#', text)
	li(class='nav__item')
		a(href=href class!= attributes.class)= text

mixin headerMenu(classes, linksObj)
	.menu-header(class=classes)
		button.menu-header__icon.icon-menu
			span
		nav.menu-header__body.nav
			ul.nav__list
				each href, text in linksObj
					+menuLink(href, text)(class='nav__link')


mixin img(path, desc="")
	img(src=require(`@img/${path}`) alt= desc class!= attributes.class id!= attributes.id )