@use '../utils/' as uts;

.about-section {
    padding: 120px 0 60px;
    background-color: var(--color-light);

    @include uts.minitablet() {
        padding-top: 80px;
    }

    @include uts.mobile() {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}