@use '../utils/' as uts;

.achievements {
    background-color: var(--color-light);
    background-image: url("@img/achievements/achievements-bg.png");
    background-position: right -2px bottom -528px;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;

    &__list {
        display: flex;
        margin: 0 -43px;
        margin-bottom: 238px;

        @include uts.tablet() {
            margin-right: -23px;
            margin-left: -23px;
            margin-bottom: 200px;
        }

        @include uts.minitablet() {
            margin: -23px;
            margin-bottom: 160px;
            flex-wrap: wrap;
        }

        @include uts.mobile() {
            margin: 0;
            margin-bottom: 110px;
        }
    }

    &__item {
        padding: 0 43px;
        flex: 0 1 25%;
        min-height: 178px;

        @include uts.tablet() {
            padding: 0 23px;
        }

        @include uts.minitablet() {
            padding: 23px;
            flex: 0 1 50%;
        }

        @include uts.mobile() {
            flex: 1 1 100%;
            padding: 0;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;

        @include uts.mobile() {
            display: block;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;

        @include uts.minidesk() {
            width: 40%;
        }

        @include uts.tablet() {
            width: 25%;
        }

        @include uts.mobile() {
            width: 75%;
            display: block;
            margin-left: auto;
            margin-bottom: 20px;
        }
    }

    &__info {
        position: relative;
        z-index: 10;
        left: -30px;
        top: -40px;
        background-color: var(--color-light);
        @include uts.box-shadow();
        border-radius: var(--border-radius);
        flex-shrink: 0;
        width: 735px;
        padding: 0px 80px 60px 82px;

        @include uts.minidesk() {
            position: initial;
            padding-left: 30px;
            width: 650px;
        }

        @include uts.tablet() {
            width: 75%;
        }

        @include uts.minitablet() {
            padding-bottom: 20px;
        }

        @include uts.mobile() {
            width: 100%;
            padding-right: 10px;
        }
    }

    @include uts.minitablet() {
        padding: 100px 0;
    }

    @include uts.mobile() {
        padding: 80px 0;
    }
}

.item-achievements {

    &__content {
        padding-top: 66px;
        @include uts.flex-col-all-center();
    }

    &--recommendations {
        .item-achievements__content {
            background: url("@img/achievements/icon_01.svg") top center / 48px 48px no-repeat;
        }
    }

    &--appartments {
        .item-achievements__content {
            background: url("@img/achievements/icon_02.svg") top center / 48px 48px no-repeat;
        }
    }

    &--specialists {
        .item-achievements__content {
            background: url("@img/achievements/icon_03.svg") top center / 48px 48px no-repeat;
        }

    }

    &--square {
        .item-achievements__content {
            background: url("@img/achievements/icon_04.svg") top center / 48px 48px no-repeat;
        }
    }

    &__value {
        position: relative;
        font-weight: 700;
        font-size: 46px;
        line-height: 130%;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 10px;

        sup {
            font-size: 30px;
            line-height: 1;
            font-weight: 700;

            @include uts.tablet() {
                font-size: 20px;
            }
        }

        @include uts.tablet() {
            font-size: 32px;
            margin-bottom: 5px;
        }
    }

    &__description {
        text-align: center;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-dark);
        max-width: 240px;
        padding: 0 10px;
    }
}

.quote {
    &__content {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -5px;
            width: 28px;
            height: 20px;
            background: url("@img/icons/braces.svg") center center / cover no-repeat;
        }
    }

    &__text {
        padding-left: 53px;
        padding-right: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-dark);

        &:not(:last-child) {
            margin-bottom: 30px;

            @include uts.tablet() {
                margin-bottom: 10px;
            }
        }

        @include uts.minidesk() {
            padding-left: 0;

            &:not(:last-child) {
                padding-top: 35px;
            }
        }

        @include uts.tablet() {
            font-size: 16px;
        }
    }

    &__footer {
        margin-top: 40px;
        padding: 20px 20px 20px 53px;
        background: url("@img/achievements/signature.svg") right 25px center / 100px 68px no-repeat;

        @include uts.tablet() {
            margin-top: 20px;
        }

        @include uts.minitablet() {
            padding: 0px 20px 75px 0;
            background-position: left bottom;
        }

        @include uts.mobile() {
            padding-right: 20px;
        }
    }
}

.author-quote {
    &__name {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-dark);
        margin-bottom: 5px;
    }

    &__post {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
    }
}