@use '../utils/' as uts;

.article-meta {
    &__item {
        font-size: 14px;
        line-height: 150%;
        white-space: nowrap;
        color: var(--color-storm);
        position: relative;
        transition: color var(--transition-time) ease-in-out;

        &:not(:last-child) {
            margin-right: 25px;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 1px;
                height: 11px;
                color: inherit;
                background-color: currentColor;
                top: 2px;
                right: -13.5px;

                @include uts.mobile() {
                    display: none;
                }
            }

            @include uts.mobile() {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }

        &--comments {
            background: url("@img/icons/comments.svg") left no-repeat;
            padding-left: 23px;
        }
    }

    @include uts.mobile() {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &--single {
        align-items: flex-start;
        .article-meta__item {
            font-size: 16px;
            line-height: 160%;

            &:not(:last-child) {
                margin-right: 26px;

                &::after {
                    height: 16px;
                    color: inherit;
                    background-color: var(--color-storm);
                    top: 1px;
                    right: -15px;
                }

                @include uts.mobile() {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }

            &--category {
                color: var(--color-primary);
                font-weight: 700;
            }

            &--time {
                background: url("@img/icons/clock.svg") left center / 20px 20px no-repeat;
                padding-left: 26px;
            }

            &--comments {
                padding-left: 26px;
                background: url("@img/icons/comments-big.svg") left center / 20px 20px no-repeat;
            }
        }
    }
}

a.article-meta__item {
    &.focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }

    &:hover {
        color: var(--color-primary);

        &::after {
            color: var(--color-storm);
        }
    }

    &:active {
        color: var(--color-active);

        &::after {
            color: var(--color-storm);
        }
    }
}