@use '../utils' as uts;

.breadcrumps {
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 24px;

            &:after {
                content: "/";
                position: absolute;
                right: -15px;
                top: 3px;
                color: var(--color-manatee);
            }

            @include uts.mobile() {
                margin-right: 15px;

                &:after {
                    right: -10px;
                }
            }
        }
    }

    &__link {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);

        &:not([href]) {
            color: var(--color-manatee);
        }

        @include uts.mobile() {
            font-size: 12px;
        }
    }

    &__link[href] {
        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--color-primary);
        }

        &:active {
            color: var(--color-active);
        }
    }
}