.clients {
    padding: 140px 0 121px;
    background-color: var(--color-light);

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 102px;
    }

    &__link {
        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }
    }

}