@use '../utils/' as uts;

.contacts-header {
    display: flex;

    &__link {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 36px;

            @include uts.tablet() {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    @include uts.tablet() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contacts-link {
    &__icon {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }

    &__info {
        line-height: 150%;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include uts.minidesk() {
            padding-left: 6px;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 700;
        color: var(--color-gray);
        transition: color var(--transition-time) ease-in-out;

        @include uts.tablet() {
            color: var(--color-light);
        }
    }

    &__value {
        font-size: 18px;
        color: var(--color-gray-dark);

        @include uts.minidesk() {
            font-size: 16px;
        }

        @include uts.tablet() {
            color: var(--color-light);
        }
    }

    &--phone {
        .contacts-link__icon {
            background-image: url("@img/icons/iPhone.svg");
        }
    }

    &--mail {
        .contacts-link__icon {
            background-image: url("@img/icons/chat.svg");
        }
    }

    &.focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }

    &:hover {
        .contacts-link__text {
            color: var(--color-primary);
        }
    }

    &:active {
        .contacts-link__text {
            color: var(--color-active);
        }
    }
}