@use '../utils/' as uts;

.btn{
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--color-light);

    &--outline {

        &-light {
            border-color: var(--color-light)
        }

        &-primary {
            border-color: var(--color-primary);
            color: var(--color-primary);
        }
    }

    &--fill {
        &-primary {
            background-color: var(--color-primary);
        }
        
    }

    &--large {
        padding: 15px 39px;
    }

    &--regular {
        padding: 10px 32px;
        font-size: 14px;
    }

    &--small {
        padding: 15px 24px;
        font-size: 12px;
    }
}

.form-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-gray-dark);
    text-align: center;
}

.form-field {
    @include uts.flex-col-end();
}

.form-caption {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

.form-input {
    background: #f4f5f7;
    border: 1px solid #d7dadd;
    border-radius: var(--border-radius);
    padding: 11px 16px;
}


input[type=text],textarea{-webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*.input{
	border-top: 1px solid #000;
	height: 35px;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	font-size: 15px;
	padding: 0 20px;
	background: #f8f7f7;
}

textarea.input{
	resize: none;
	height: 117px;
	padding: 10px;
}*/
