@use '../utils/' as uts;

.btn {
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: var(--color-light);

    &--outline {

        &-light {
            border-color: var(--color-light)
        }

        &-primary {
            border-color: var(--color-primary);
            color: var(--color-primary);
        }
    }

    &--fill {
        &-primary {
            background-color: var(--color-primary);
        }
        
    }

    &--large {
        padding: 15px 39px;
    }

    &--regular {
        padding: 10px 32px;
        font-size: 14px;
    }

    &--small {
        padding: 10px 24px;
        font-size: 12px;
    }
}

.form-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-gray-dark);
    text-align: center;
}

.form-field {
    @include uts.flex-col-end();

    &__caption {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        margin-bottom: 8px;
    }

    &__input {
        background-color: var(--color-athens);
        border: 1px solid #d7dadd;
        border-radius: var(--border-radius);
        padding: 11px 16px 12px;

        &--big {
            resize: none;
            height: 66px;
        }

        &::placeholder {
            font-size: 14px;
            line-height: 150%;
            color: var(--color-manatee);
        }

        &--dark {
            background: rgba(255, 255, 255, 0.12);
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    &--contacts {
        width: 100%;

        .form-field__input {
            width: 100%;
        }
    }
}

.form-checkbox {
    &__input {
        opacity: 0;
        position: absolute;
    }

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 27.5px;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        user-select: none;
        
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -1px;
            display: inline-block;
            border: 1px solid #B3B7BC;
            border-radius: 3px;
            width: 16px;
            height: 16px;
            transition: background-color var(--transition-time) ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: -1px;
            background-image: url("@img/icons/check.svg");
            background-size: 10px 8px;
            background-position: center;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            opacity: 0;
            transition: opacity var(--transition-time) ease-in-out;
        }
    }

    &__input:checked + &__text::before {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }

    &__input:disabled + &__text::before {
        background: var(--color-athens);
    }

    &__input:disabled + &__text {
        opacity: 0.5;
    }
}

.form-contacts {
    display: flex;
    background-color: var(--color-light);
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-gray-cod);
    border-radius: var(--border-radius);
    max-width: 495px;
    padding: 48px 40px 48px;
    box-shadow: 
        0px 60px 80px -20px rgba(30, 33, 44, 0.16), 
        0px 26px 24px -10px rgba(30, 33, 44, 0.1), 
        0px 12px 10px -6px rgba(30, 33, 44, 0.08), 
        0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    
    &__title {
        width: 100%;
        margin-bottom: 24px;
    }

    &__field {
        margin-bottom: 24px;
    }

    &__field:last-child {
        margin-bottom: 20px;
    }

    &__checkbox {
        margin-bottom: 20px;
    }

    &__btn {
        align-self: center;
    }
}


input[type=text],textarea{-webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*.input{
	border-top: 1px solid #000;
	height: 35px;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	font-size: 15px;
	padding: 0 20px;
	background: #f8f7f7;
}

textarea.input{
	resize: none;
	height: 117px;
	padding: 10px;
}*/
