@use '../utils' as uts;

.page-hero {
    background-color: var(--color-athens);
    

    &__breadcrumps {
        margin-bottom: 41px;
    }

    &--services {
        background-image: url("@img/hero-services/hero-services-bg.png");
        background-position: right -9px top;
        background-repeat: no-repeat;
        padding: 152px 0 178px;
    }

    &--service {
        background-image: url("@img/hero-service/hero-service-bg.png");
        background-position: right -7px center;
        background-repeat: no-repeat;
        padding: 152px 0 114px;
    }

    &--work {
        background-image: url("@img/hero-work/hero-work-bg.png");
        background-position: right -9px center;
        background-repeat: no-repeat;
        padding: 152px 0px 177px;
    }

    &--work-inner {
        background-color: var(--color-light);
        background-image: url("@img/hero-work-inner/hero-work-inner-bg.png");
        background-position: right -9px top 48px;
        background-repeat: no-repeat;
        padding: 152px 0 80px;
    }

    &--about-us {
        background-image: url("@img/hero-about-us/hero-about-us-bg_01.png"), url("@img/hero-about-us/hero-about-us-bg_02.png");
        background-position: right -9px bottom 3px, right -8px bottom 3px;
        background-repeat: no-repeat, no-repeat;
        padding: 152px 0 180px;
    }

    &--positions {
        padding: 152px 0 145px;
        background-image: url("@img/hero-positions/hero-positions-bg.png");
        background-position: right -9px bottom 1px;
        background-repeat: no-repeat;
    }

    &--news {
        padding: 152px 0 237px;
        background-image: url("@img/hero-news/hero-news-bg.png");
        background-position: right -9px bottom;
        background-repeat: no-repeat;
    }

    &--post {
        padding: 152px 0 160px;

        .block-main {
            &__title {
                max-width: 100%;
            }
        }
    }

    &--contacts {
        padding: 152px 0 207px;
        background-image: url("@img/hero-contacts/hero-contacts-bg.png");
        background-position: right -9px bottom;
        background-repeat: no-repeat;
    }
}