@use '../utils/' as uts;

.history {
    background-color: var(--color-athens);
    padding-top: 75px;
    padding-bottom: 100px;

    &__top {
        position: relative;
        margin-bottom: 45px;
    }

    &__slider-nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__content {
        gap: var(--grid-gap);

        @include uts.tablet() {
            gap: 10px;
        }

        @include uts.minitablet() {
            display: block;
        }
    }

    &__nav {
        grid-column: 4 span;
    }

    &__slider {
        overflow: hidden;
        grid-column: 8 span;
    }

    @include uts.minitablet() {
        padding: 60px 0 80px;
    }
}

.nav-history {
    overflow-y: auto;
    max-height: 538px;

    &__list {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            top: 0;
            left: 3px;
            background-color: rgba(154, 156, 165, 0.5);
        }

        @include uts.minitablet() {
            display: flex;
            margin: 0 -20px;
            justify-content: flex-start;
            align-items: center;

            &::before {
                display: none;
            }
        }

        @include uts.mobile() {
            margin: 0 -10px;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 20px;

            @include uts.minitablet() {
                margin-bottom: 0;
                margin-right: 20px;
            }
        }

        @include uts.minitablet() {
            flex: 0 0 20%;
            padding: 0 20px;

            &::before {
                content: '';
                position: absolute;
                z-index: 10;
                top: 17px;
                left: 0;
                width: 8px;
                height: 8px;
                border-radius: 100%;
            }
        }

        @include uts.mobile() {
            flex: 0 0 25%;
            padding: 0 10px;
        }
    }

    &__btn {
        position: relative;
        background-color: transparent;
        padding-left: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: var(--color-manatee);
        transition: color var(--transition-time) ease-in-out;

        &::before {
            content: '';
            position: absolute;
            z-index: 10;
            top: 17px;
            left: 0;
            width: 8px;
            height: 8px;
            background-color: currentColor;
            border-radius: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 3px;
            width: 1px;
            height: 16px;
            transform: translateY(-50%);
            background-color: var(--color-athens);
        }

        &--active {
            color: var(--color-primary);
        }

        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--color-primary);
        }

        &:active {
            color: var(--color-active);
        }

        @include uts.tablet() {
            padding-left: 20px;
            font-size: 26px;
        }

        @include uts.minitablet() {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 78px;

            &::after {
                display: none;
            }
        }

        @include uts.mobile() {
        }
    }

    @include uts.minitablet() {
        max-height: initial;
        overflow-x: auto;
    }

    @include uts.mobile() {
        margin-bottom: 15px;
    }
}

.slider-history {

    &__image {
        margin-bottom: 37px;
        border-radius: var(--border-radius);
        object-fit: cover;

        @include uts.tablet() {
            margin-bottom: 15px;
            object-position: center;
        }

        @include uts.mobile() {
            // max-height: 250px;
            max-width: 100%;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
    }


}