@use '../utils/' as uts;

.nav {
    
    &__list {
        @include uts.flex-ver-center();

        @include uts.tablet() {
            @include uts.flex-col-all-center();
        }
    }

    &__item:not(:last-child) {
        margin-right: 40px;
    }

    @include uts.tablet() {
        &__item {
            margin-bottom: 30px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-size: 16px;
        line-height: 160%;
        font-weight: 700;
        color: var(--color-gray);
        transition: color var(--transition-time) ease-in-out;

        &--active {
            color: var(--color-primary);
        }

        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--color-primary);
        }

        &:active {
            color: var(--color-active);
        }

        @include uts.tablet() {
            color: var(--color-light);
            font-size: 26px;
            line-height: 40px;
        }
    }

    @include uts.tablet() {
        position: fixed;
        @include uts.flex-col-hor-center();
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-200%);
        opacity: 0;
        overflow-y: auto;
        visibility: hidden;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 100px 20px 20px;
        transition:
            transform var(--open-menu-time) ease-in-out,
            opacity var(--open-menu-time) ease-in-out,
            visibility var(--open-menu-time) ease-in-out;

        &.is-open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
}