@use '../utils/' as uts;

.portfolio-section {
    padding: 120px 0;
    background-color: var(--color-light);
    &__top {
        @include uts.flex-all-sb();
        margin-bottom: 48px;

        @include uts.mobile() {
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 10px;
        }
    }

    &__title {
        max-width: 705px;

        @include uts.mobile() {
            max-width: initial;

            .block-title__title {
                padding-bottom: 0;
                font-size: 26px;
            }
        }
    }

    &__works {
        .swiper-wrapper {
            padding: 0 30px 79px;
            margin: 0 -30px;
        }
    }

    &__explore {
        @include uts.flex-all-center;
    }

    @include uts.minitablet() {
        padding: 80px 0;
    }
}
