@use '../utils' as uts;
@use '../vendors/tabs.scss';

.portfolio {
    padding-bottom: 99px;
    background-color: var(--color-light);

    &__tabs-nav {
        margin-bottom: 60px;
        
        @include uts.tablet() {
            margin-bottom: 10px;
        }
    }

    &__load-more {
        margin-top: 62px;
        overflow-anchor: none;

        @include uts.minitablet() {
            margin-top: 50px;
        }

        @include uts.mobile() {
            margin-top: 40px;
        }
    }

    @include uts.minitablet() {
        padding-bottom: 40px;
    }

    @include uts.mobile() {
        padding-bottom: 40px;
    }
}

.tabs-nav-portfolio {
    --nav-gap: 20px;

    @include uts.flex-ver-center();
    transform: translateY(-59px);
    margin-left: calc(var(--nav-gap) / -2);
    margin-right: calc(var(--nav-gap) / -2);

    &__item {
        flex: 0 1 25%;
        padding: 0 calc(var(--nav-gap) / 2);

        @include uts.tablet() {
            flex: 0 1 33.333%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        @include uts.minitablet() {
            flex: 1 1 100%;
        }
    }

    &__btn {
        width: 100%;
        background-color: var(--color-light);
        @include uts.flex-col-all-center();
        @include uts.box-shadow();
        border-radius: var(--border-radius);
        color: var(--color-primary);
        min-height: 154px;
        padding: 15px 10px;
        transition: 
            color var(--transition-time) ease-in-out, 
            background-color var(--transition-time) ease-in-out;

        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
        }

        &:hover {
            .tabs-nav-portfolio__text {
                color: var(--color-gray-dark);
            }
        }

        &:active {
            background-color: var(--color-active);

            .tabs-nav-portfolio__text {
                color: var(--color-light);
            }

            .tabs-nav-portfolio__icon {
                fill: var(--color-light);
            }
        }

        @include uts.minitablet() {
            min-height: 100px;
        }
    }

    &__icon {
        color: inherit;
        fill: currentColor;
        display: block;
        width: 48px;
        height: 48px;
        object-fit: cover;
        margin-bottom: 16px;
    }

    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-manatee);
        transition: color var(--transition-time) ease-in-out;
        text-align: center;
    }

    .nav-tabs__btn {
        &--active{
            color: var(--color-light);
            background-color: var(--color-primary);
            box-shadow: 
                0px 60px 80px -20px rgba(255, 90, 48, 0.16), 
                0px 26px 24px -10px rgba(255, 90, 48, 0.1), 
                0px 12px 10px -6px rgba(255, 90, 48, 0.08), 
                0px 4px 4px -4px rgba(30, 33, 44, 0.05);

            .tabs-nav-portfolio__text {
                color: var(--color-light);
            }
        }
    }

    @include uts.tablet() {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.tabs-portfolio {
    grid-template: auto / repeat(12, 1fr);
    gap: var(--grid-gap);

    @include uts.minitablet() {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 470px) {
        display: block;
    }

    &__item {
        grid-column: 4 span;

        @include uts.minitablet() {
            grid-column: 2 span;
        }

        @media (max-width: 470px) {
            &:not(:last-child) {
                margin-bottom: var(--grid-gap);
            }
        }
    }
}

.load-more-portfolio {
    &__btn {
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        color: var(--color-gray);

        span {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: inherit;
        }

        svg {
            display: block;
            width: 24px;
            height: 24px;
            object-fit: cover;
            margin-right: 16px;
            transition: transform var(--transition-time) ease-in-out;
            color: inherit;
            fill: currentColor;
        }

        &--active {
            svg {
                animation: loadingBtn 1s linear infinite;
            }

            animation: loadingColor 4s linear infinite;
        }

        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }

        &:hover {
            color: var(--color-primary);
        }

        &:active {
            color: var(--color-active);
        }

        &:disabled {
            opacity: 0.5;
        }
    }
}

@keyframes loadingBtn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingColor {
    0% {
        color: var(--color-active);
    }

    100% {
        color: var(--color-gray);
    }
}

