@use '../utils/' as uts;

.positions-content {
    padding: 120px 0 100px;
    &__info {
        gap: var(--grid-gap);

        @include uts.minitablet() {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__column {
        &--left {
            grid-column: 7 span;

            @include uts.tablet() {
                grid-column: 12 span;
            }

            @include uts.minitablet() {
                grid-column: 4 span;
            }
        }

        &--right {
            @include uts.flex-hor-end();
            grid-column: 5 span;

            @include uts.tablet() {
                grid-column: 12 span;
            }

            @include uts.minitablet() {
                grid-column: 4 span;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include uts.minitablet() {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    @include uts.mobile() {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}

.item-positions {
    padding: 33px 38px 31px 40px;
    background: var(--color-light);
    @include uts.flex-ver-center();
    border: 1px solid var(--color-gray-cod);
    border-radius: var(--border-radius);

    &__info {
        flex: 1 1 auto;

        @media (max-width: 650px) {
            margin-bottom: 20px;
        }
    }

    &__meta {
        margin-bottom: 7px;
    }

    &__post {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-dark);

        @include uts.mobile() {
            font-size: 16px;
        }
    }

    &__link {
        align-self: flex-end;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @include uts.mobile() {
        padding: 15px;
    }
}

.meta-positions {
    &__item {
        position: relative;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
        padding-left: 24px;

        &:not(:last-child) {
            margin-right: 25px;

            &::after {
                content: '';
                position: absolute;
                top: 1px;
                right: -13px;
                width: 1px;
                height: 12px;
                background-color: currentColor;
            }
        }

        &--city {
            background: url("@img/icons/outline.svg") left top -1px no-repeat;
        }

        &--time {
            background: url("@img/icons/clock.svg") left top -1px no-repeat;
        }
    }
}

.tip-positions {
    max-width: 390px;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: var(--color-gray-dark);
        margin-bottom: 23px;

        @include uts.mobile() {
            margin-bottom: 17px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-gray);
        margin-bottom: 50px;

        @include uts.mobile() {
            margin-bottom: 25px;
        }
    }

    &__footer {
        @include uts.flex-all-sb();

        @include uts.mobile() {
            justify-content: flex-start;
        }
    }

    &__btn {
        padding-top: 15px;
        padding-bottom: 15px;
        &--subs {
            padding-right: 44px;
            padding-left: 44px;

            @include uts.mobile() {
                padding: 10px 20px;
            }
        }

        &--cv {
            padding-right: 52px;
            padding-left: 53px;
            @include uts.mobile() {
                padding: 10px 30px;
            }
        }

        @include uts.mobile() {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    @include uts.mobile() {
        width: 100%;
    }
}


