@use '../utils' as uts;

.project-goal {
    background-color: var(--color-light);
    padding: 60px 0 119px;

    &__container {
        @include uts.tablet() {
            display: flex;
            flex-direction: column;
        }
    }

    &__column {
        grid-column: 6 span;

        &--left {
            @include uts.tablet() {
                margin-bottom: 30px;
            }
        }

        &--right {
            @include uts.flex-hor-end;

            @include uts.mobile() {
                align-self: flex-start;
            }
        }
    }

    &__title {
        margin-bottom: 39px;

        @include uts.minitablet() {
            margin-bottom: 30px;
        }

        @include uts.mobile() {
            margin-bottom: 20px;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-gray);
        max-width: 610px;
        padding-right: 30px;

        &:not(:last-child) {
            margin-bottom: 27px;

            @include uts.mobile() {
                margin-bottom: 15px;
            }
        }
    }

    @include uts.minitablet() {
        padding-bottom: 70px;
    }

    @include uts.mobile() {
        padding: 50px 0;
    }
}

.info-goal {
    background-color: var(--color-light);
    @include uts.box-shadow();
    border-radius: var(--border-radius);
    width: 495px;
    min-height: 275px;
    padding: 0px 40px 20px 60px;

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__field {
        width: 130px;
        flex: 0 0 130px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-dark);
        text-transform: uppercase;

        @include uts.mobile() {
            font-size: 14px;
            width: 100px;
            flex: 0 0 100px;
        }
    }

    &__value {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
    }

    @include uts.tablet() {
        padding-right: 10px;
        padding-left: 30px;
        width: 100%;
    }

    @include uts.mobile() {
        padding-left: 10px;
    }
}