@use '../utils/' as uts;

.recent-news {
    padding-bottom: 119px;
    background-color: var(--color-light);

    &__list {
        display: grid;
        grid-template: repeat(2, 255px) / repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        gap: var(--grid-gap);
        margin-bottom: 80px;

        @include uts.tablet() {
            grid-template-rows: initial;
        }

        @include uts.mobile() {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        grid-column: 5 span;

        &--big {
            grid-column: 7 span;
            grid-row: 2 span;
        }

        @include uts.tablet() {
            grid-column: 12 span;

            &--big {
                grid-row: auto;
            }
        }

        @include uts.mobile() {
            grid-column: 4 span;
        }
    }

    @include uts.minitablet() {
        padding-bottom: 80px;
    }
}
