@use '../utils' as uts;

.services {
    background-color: var(--color-light);
    background: 
        url("@img/services-content/services-content-bg_01.png") right -9px top 530px no-repeat, 
        url("@img/services-content/services-content-bg_02.png") left -8px bottom -247px no-repeat;
    padding-top: 120px;
    padding-bottom: 179px;

    &__item {
        flex: 0 0 100%;
        @include uts.flex-ver-center();
        margin: 0 -40px;
        &:not(:last-child) {
            margin-bottom: 120px;
        }
        
        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        @include uts.tablet() {
            flex-direction: column;
            align-items: flex-start;

            &:nth-child(even) {
                flex-direction: column;
                align-items: flex-end;
            }

            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }

        @include uts.minitablet() {
            display: block;
        }
    }

    @include uts.minitablet() {
        padding-top: 80px;
        padding-bottom: 100px;
    }
}

.item-service {

    &__column {
        padding: 0 40px;
    }

    &__image {
        border-radius: var(--border-radius);
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        color: var(--color-gray-dark);
        margin-bottom: 24px;
        max-width: 575px;

        @include uts.tablet() {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        @include uts.mobile() {
            line-height: 42px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
        margin-bottom: 48px;
        max-width: 575px;

        @include uts.tablet() {
            margin-bottom: 28px;
        }

        @include uts.mobile() {
            margin-bottom: 18px;
        }
    }

    &__btn {
        display: inline-block;
    }
}