@use '../utils' as uts;

.similar-projects {
    padding-top: 180px;
    padding-bottom: 120px;

    &__top {
        position: relative;
        margin-bottom: 48px;

        @include uts.minitablet() {
            margin-bottom: 20px;
        }

        @include uts.mobile() {
            padding-bottom: 5px;
        }
    }

    &__title {
        @include uts.minitablet() {
            margin-bottom: 0;
        }
    }

    &__slider-nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__works {
        .swiper-wrapper {
            padding: 0 30px 80px;
            margin: 0 -30px;

            @include uts.minitablet() {
                padding-bottom: 60px;
            }
        }

        .swiper-slide {
            height: auto;
        }
    }

    &__explore {
        align-items: center;
    }

    @include uts.tablet() {
        padding-top: 90px;
        padding-bottom: 100px;
    }

    @include uts.minitablet() {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    @include uts.mobile() {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}