@use '../utils/' as uts;

.socials-news {
    @include uts.flex-ver-center();

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__link {
        svg {
            display: block;
            width: 24px;
            height: 24px;
            object-fit: cover;
            fill: var(--color-storm);
            transition: fill var(--transition-time) ease-in-out;
        }

        &.focus-visible{
            svg {
                outline: 3px solid var(--color-primary);
                outline-offset: 2px;
                border-radius: var(--border-radius);
            }
        }
    
        &:hover {
            svg {
                fill: var(--color-primary);
            }
        }
    
        &:active {
            svg {
                fill: var(--color-active);
            }
        }
    }
}