@use '../utils/' as uts;

.team {
    background-color: var(--color-light);
    padding: 80px 0 119px;

    &__list {
        column-gap:var(--grid-gap);
        row-gap: 60px;
        margin-bottom: 80px;

        @include uts.tablet() {
            column-gap: 0px;
            row-gap: 30px;
            margin-bottom: 60px;
        }

        @include uts.minitablet() {
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 30px;
        }
    }

    &__item {
        grid-column: 3 span;
        padding: 0 -15px;
        position: relative;
        @include uts.flex-col-hor-center();

        &:hover {
            .team__socials {
                opacity: 1;
                visibility: visible;
            }
        }

        @include uts.minidesk() {
            grid-column: 4 span;
            text-align: center;
        }
        
        @include uts.tablet() {
            grid-column: 6 span;
        }

        @include uts.minitablet() {
            grid-column: 4 span;
        }
    }

    &__top {
        position: relative;
        margin-bottom: 16px;
        max-width: 285px;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray);
        text-align: center;
        margin-bottom: 5px;
    }
    
    &__post {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-storm);
        text-align: center;
    }

    &__socials {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0;
        transition: opacity var(--transition-time) ease-in-out, visibility var(--transition-time) ease-in-out;
    }

    &__text {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-gray-dark);

        a {
            color: var(--color-primary);
            text-decoration: underline;

            &.focus-visible  {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
                border-radius: var(--border-radius);
            }
    
            &:hover {
                color: var(--color-primary);
            }
    
            &:active {
                color: var(--color-active);
            }

            @include uts.minitablet() {
                display: block;
            }
        }
    }

    @include uts.minitablet() {
        padding: 60px 0;
    }
}

.socials-team {
    @include uts.flex-hor-center();
    background-color: rgba(255, 90, 48, 0.7);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px 0;

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__link {
        &.focus-visible  {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: var(--border-radius);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}