@use '../utils/' as uts;

.testimonials {
    background-color: var(--color-athens);
    padding-top: 120px;

    &__container {
        @include uts.flex-sb();

        @include uts.minitablet() {
            @include uts.flex-col-start();
        }
    }

    &__content {
        max-width: 612px;

        @include uts.minidesk() {
            max-width: 550px;
        }

        @include uts.tablet() {
            max-width: 450px;
            padding-right: 10px;
        }

        @include uts.minitablet() {
            max-width: initial;
            padding-right: 15px;
        }
    }

    &__items {
        position: relative;
    }

    &__image {
        margin-bottom: -61px;
        object-fit: cover;
        border-radius: var(--border-radius);

        @include uts.minidesk() {
            flex: 0 1 40%;
            width: 40%;
        }

        @include uts.tablet() {
            margin-bottom: 0;
        }

        @include uts.minitablet() {
            display: none;
        }
    }

    &__slider-nav {
        position: absolute;
        right: 12px;
        bottom: 4px;
    }

    @include uts.tablet() {
        padding-bottom: 40px;
    }

    @include uts.minitablet() {
        padding: 80px 0;
    }

    @include uts.mobile() {
        padding: 60px 0;
    }
}

.item-testimonials {
    padding-bottom: 16px;
    &__image {
        border-radius: 100%;
        overflow: hidden;
        width: 72px;
        height: 72px;
        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        margin-bottom: 24px;
    }
    
    &__text {
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
        margin-bottom: 26px;
    }
}

.testimonials-author {
    &__name {
        display: block;
        padding-right: 110px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray-dark);
        margin-bottom: 4px;
    }

    &__position {
        display: block;
        padding-right: 110px;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
    }
}