@use '../utils/' as uts;

.values {
    padding-top: 120px;
    background-color: var(--color-light);

    &__list {
        --values-items-gap: 188px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--values-items-gap);
        margin-bottom: 30px;

        @include uts.tablet() {
            --values-items-gap: 60px;
        }

        @include uts.minitablet() {
            --values-items-gap: 30px;
        }

        @include uts.mobile() {
            display: block;
        }
    }

    &__item {
        @include uts.flex-col-hor-center();
        position: relative;
        padding-top: 72px;
        background-position: top center;
        background-size: 48px 48px;
        background-repeat: no-repeat;

        &--quality {
            background-image: url("@img/values/quality.svg");
        }

        &--safety {
            background-image: url("@img/values/safety.svg");
        }

        &--comfort {
            background-image: url("@img/values/comfort.svg");
        }

        &:not(:last-child) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: calc(var(--values-items-gap) / -2);
                background-image: url("@img/icons/vert-line.svg");
                width: 1px;
                height: 100%;
                transform: translateX(50%);
            }
        }

        @include uts.mobile() {
            &:not(:last-child) {
                margin-bottom: 20px;

                &::after {
                    display: none;
                }
            }
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-dark);
        margin-bottom: 8px;
    }

    &__description {
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: var(--color-storm);

        @include uts.mobile() {
            max-width: 300px;
        }
    }

    @include uts.mobile() {
        padding-top: 60px;
    }
}

.form-values {
    position: relative;
    top: 92px;
    left: 0;
    padding: 48px 60px;
    background: #fff;
    @include uts.box-shadow();
    border-radius: var(--border-radius);

    &__title {
        margin-bottom: 32px;
    }

    &__content {
        @include uts.flex-ver-center();

        @include uts.tablet() {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: -5px 0;
        }

        @include uts.mobile() {
            justify-content: flex-end;
        }
    }

    &__field {
        flex: 0 1 260px;
        margin-right: 24px;

        &--big {
            flex: 1 1 auto;
        }

        @include uts.tablet() {
            flex: 0 0 48%;
            margin-right: 0;
            margin: 5px 0;

            &--big {
                flex: 1 1 100%;
            }
        }

        @include uts.mobile() {
            flex: 1 1 100%;
        }
    }

    &__caption {
        margin-bottom: 8px;
    }

    &__btn {
        align-self: flex-end;

        @include uts.tablet() {
            margin-top: 10px;
            margin-left: auto;
        }

        @include uts.mobile() {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    @include uts.minitablet() {
        top: 20px;
        padding: 38px 50px;
    }
    @include uts.mobile() {
        top: 20px;
        padding: 30px 15px;

        .form-title {
            font-size: 24px;
            line-height: 34px;
        }
    }
}