@use '../utils' as uts;
@use '../vendors/Accordion.scss';

.we-offer {
    padding-top: 120px;
    padding-bottom: 60px;

    &__container {
        display: grid;
        grid-template: auto / repeat(12, 1fr);
        gap: 105px;

        @include uts.minidesk() {
            display: block;
        }
    }

    &__image {
        grid-column: 7 span;

        @include uts.minidesk() {
            margin-bottom: 30px;
            width: 100%;

            img {
                width: 100%;
                max-height: 440px;
                object-fit: cover;
            }
        }
    }

    &__info {
        padding-top: 5px;
        padding-left: 30px;
        grid-column: 5 span;

        @include uts.minidesk() {
            padding-left: 0;
        }
    }

    &__title {
        margin-bottom: 55px;

        .block-title__title {
            font-family: "Lato", sans-serif;
            letter-spacing: 0.5px;
            font-weight: 900;
            font-size: 46px;
            line-height: 130%;
            color: var(--color-gray-dark);

            @include uts.minitablet() {
                font-size: 36px;
            }

            @include uts.mobile() {
                font-size: 32px;
            }
        }

        @include uts.minidesk() {
            margin-bottom: 20px;
        }
    }

    &__accordion {

        .accordion {
            &:not(:last-of-type) {
                margin-bottom: 25px;
            }
        }

        .accordion__control {
            text-align: left;
            position: relative;
            padding-left: 45px;

            &.focus-visible  {
                outline: 2px solid var(--color-primary);
                outline-offset: 2px;
                border-radius: var(--border-radius);
            }
        }

        .accordion__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            color: var(--color-gray-dark);
            max-width: 420px;

            @include uts.minitablet() {
                font-size: 26px;
            }

            @include uts.mobile() {
                font-size: 24px;
            }
        }

        .accordion__icon {
            position: absolute;
            top: 10px;
            left: 3px;
            width: 22px;
            height: 22px;
            display: block;

            &::before {
                content: '';
                transform: none;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 2px;
                background-color: var(--color-primary);
                border-radius: 100px;
                transform: translateY(-50%);
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                height: 100%;
                width: 2px;
                background-color: var(--color-primary);
                border-radius: 100px;
                transform: none;
                transform: translateX(-50%);
                opacity: 1;
            }
        }

        .accordion__content {
            font-size: 16px;
            line-height: 160%;
            color: var(--color-storm);
            padding-left: 44px;
        }

        .accordion.is-open {

            .accordion__icon {
                &::after {
                    transform: none;
                    transform: translateX(-50%) rotate(-90deg);
                    opacity: 0;
                }

                &::before {
                    transform: none;
                    transform: translateY(-50%);
                }
            }

            .accordion__content {
                padding: 13px 0px 0px 44px;
            }
        }
    }

    @include uts.minitablet() {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    @include uts.mobile() {
        padding-top: 70px;
    }
}
