@use '../utils/' as uts;

.portfolio {
    padding: 120px 0;
    background-color: var(--color-light);
    &__top {
        @include uts.flex-all-sb();
        margin-bottom: 48px;
    }

    &__title {
        max-width: 705px;
    }

    &__works {
        .swiper-wrapper {
            padding: 0 30px 79px;
            margin: 0 -30px;
        }
    }

    &__explore {
        @include uts.flex-all-center;
    }
}

.item-portfolio{
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    display: block;
    box-shadow: 
        0 80px 80px -20px rgba(154, 156, 165, 0.08), 
        0 30px 24px -10px rgba(154, 156, 165, 0.05), 
        0 12px 10px -6px rgba(154, 156, 165, 0.04), 
        0 4px 4px -4px rgba(30, 33, 44, 0.03);
    overflow: hidden;
    max-height: 440px;

    &__img {
        max-width: 100%;
        object-fit: cover;
    }

    &__content {
        @include uts.flex-col-hor-center;
        background-color: var(--color-light);
        text-align: center;
        padding-top: 16px;
        padding-bottom: 24px;
        transform: translateY(0);
        transition: transform var(--transition-time) ease-in-out;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-gray-dark);
        margin-bottom: 4px;
        padding: 0 10px;
    }

    &__description {
        font-size: 14px;
        padding: 0 10px;
        line-height: 150%;
        color: var(--color-storm);
    }

    &__btn {
        margin-top: 25px;
    }

    &:hover {
        .item-portfolio__content {
            transform: translateY(-69px);
        }
    }
}