@use '../utils/' as uts;

.recent-news {
    padding-bottom: 119px;
    background-color: var(--color-light);
    &__list {
        display: grid;
        grid-template: repeat(2, 255px) / repeat(12, 1fr);
        gap: var(--grid-gap);
        margin-bottom: 80px;
    }

    &__item {
        grid-column: 5 span;

        &--big {
            grid-column: 7 span;
            grid-row: 2 span;
        }
    }
}
