@use '../utils' as uts;

.related-projects {
    padding: 180px 0 101px;
    background-color: var(--color-light);
    &__top {
        @include uts.flex-all-sb();
        margin-bottom: 48px;
    }

    &__title {
        max-width: 705px;
    }

    &__works {
        .swiper-wrapper {
            padding: 0 30px 79px;
            margin: 0 -30px;
        }
    }

    &__explore {
        @include uts.flex-all-center;
    }
}

