//<ШРИФТЫ>

@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: local('#{$font-family}'), local('#{$url}'), 
            url('../fonts/#{$url}.woff2') format("woff2"),
            url('../fonts/#{$url}.woff') format("woff");
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

//</ШРИФТЫ>

//<ФЛЕКСЫ>

@mixin flex-ver-center() {display: flex; align-items: center;}
@mixin flex-ver-end() {display: flex; align-items: flex-end;}
@mixin flex-hor-end() {display: flex; justify-content: flex-end;}
@mixin flex-hor-center() {display: flex; justify-content: center;}
@mixin flex-all-center() {display: flex; justify-content: center; align-items: center;}
@mixin flex-all-sb() {display: flex; justify-content: space-between; align-items: center;}
@mixin flex-sb() {display: flex; justify-content: space-between;}
@mixin flex-col-hor-center() {display: flex; flex-direction:column; align-items: center;}
@mixin flex-col-ver-center() {display: flex; flex-direction:column; justify-content: center;}
@mixin flex-col-all-center() {display: flex; flex-direction:column; justify-content: center; align-items: center;}
@mixin flex-col-start() {display: flex; flex-direction:column; justify-content: flex-start;}
@mixin flex-col-end() {display: flex; flex-direction:column; justify-content: flex-end;}

//</ФЛЕКСЫ>

//<ВСПОМОГАТЕЛЬНЫЕ>

@mixin box-shadow() {
    box-shadow: 
        0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
        0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
        0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
        0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

//<ВСПОМОГАТЕЛЬНЫЕ>
