include ../includes/utils/mixins

block vars
    - var navLinks = {first: '#', second: '#', third: '#', fourth: '#', five: '#'}

doctype html
html(lang='ru')
    head
        meta(http-equiv='Content-type' content='text/html;charset=UTF-8')
        meta(name="theme-color" content="#111111")
        meta(name='format-detection' content='telephone=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        title #{siteTitle}
        block head
    body(class=pageClass)
        .wrapper
            .content
                block header
                    include ../includes/components/header
                block content
            block footer
                include ../includes/components/footer
        block script