extends ./pug/layout/main

block append vars
    - var siteTitle = 'Createx Construction - Services';
    - var pageClass = 'index-page';

block content
    main.page
        section.page-hero.page-hero--services
            .container
                ul.page-hero__breadcrumps.breadcrumps 
                    li.breadcrumps__item 
                        a.breadcrumps__link(href="/") Homepage
                    li.breadcrumps__item 
                        a.breadcrumps__link Services
                .page-hero__content.block-main 
                    h1.block-main__title SERVICES
                    p.block-main__description.
                        If&nbsp;you are looking for a&nbsp;full-service construction company, look to&nbsp;Createx Construction Bureau. We&nbsp;are doing our best to&nbsp;be&nbsp;a&nbsp;partner for all of&nbsp;your construction needs.
        section.services 
            .container
                h2.visually-hidden Services Content
                ul.services__list
                    li.services__item.item-service 
                        .item-service__column 
                            .item-service__image 
                                +img('services-content/service_01.jpg', 'Construction Service Image')
                        .item-service__column 
                            .item-service__content 
                                h2.item-service__title Construction
                                p.item-service__description.
                                    Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.
                                a.item-service__btn.btn.btn--outline-primary.btn--regular(href="/service.html") Learn more
                    li.services__item.item-service 
                        .item-service__column 
                            .item-service__image 
                                +img('services-content/service_02.jpg', 'Project Development Service Image')
                        .item-service__column 
                            .item-service__content 
                                h2.item-service__title Project Development
                                p.item-service__description.
                                    Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
                                a.item-service__btn.btn.btn--outline-primary.btn--regular(href="/service.html") Learn more
                    li.services__item.item-service 
                        .item-service__column 
                            .item-service__image 
                                +img('services-content/service_03.jpg', 'Interior Design Service Image')
                        .item-service__column 
                            .item-service__content 
                                h2.item-service__title Interior Design
                                p.item-service__description.
                                    Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
                                a.item-service__btn.btn.btn--outline-primary.btn--regular(href="/service.html") Learn more
                    li.services__item.item-service 
                        .item-service__column 
                            .item-service__image 
                                +img('services-content/service_04.jpg', 'Repairs Service Image')
                        .item-service__column 
                            .item-service__content 
                                h2.item-service__title Repairs
                                p.item-service__description.
                                    Facilisis cursus feugiat sit pulvinar amet. Ac&nbsp;facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id&nbsp;egestas mattis. Turpis viverra nec urna ultrices urna.
                                a.item-service__btn.btn.btn--outline-primary.btn--regular(href="/service.html") Learn more
        section.contacts-section 
            .contacts-section__container.container
                h2.visually-hidden Contacts 
                form.contacts-section__form.form-contacts(action="POST") 
                    h2.form-contacts__title.form-title A&nbsp;quick way to&nbsp;discuss details
                    label.form-contacts__field.form-field.form-field--contacts
                        span.form-field__caption Name* 
                        input.form-field__input(type="text" name="name" placeholder="Your name" data-req)
                    label.form-contacts__field.form-field.form-field--contacts
                        span.form-field__caption Phone* 
                        input.form-field__input(type="tel" name="phone" placeholder="Your phone number" data-req)
                    label.form-contacts__field.form-field.form-field--contacts
                        span.form-field__caption Email 
                        input.form-field__input(type="email" name="email" placeholder="Your working email")
                    label.form-contacts__field.form-field.form-field--contacts
                        span.form-field__caption Message* 
                        textarea.form-field__input.form-field__input--big(name="message" placeholder="Your message" data-req)
                    label.form-contacts__checkbox.form-checkbox 
                        input.form-checkbox__input(type="checkbox")
                        span.form-checkbox__text.
                            I&nbsp;agree to&nbsp;receive communications from Createx Construction Bureau.
                    button.form-contacts__btn.btn.btn--fill-primary.btn--regular(type="submit") Send request